In [2]:
import pandas as pd

In [6]:
import numpy as np

In [8]:
import matplotlib.pyplot as plt

In [11]:
import seaborn as sns

In [12]:
df = pd.read_csv('FoodBalanceSheets_E_Africa_NOFLAG.csv', encoding = 'latin1')

In [13]:
df

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
...,...,...,...,...,...,...,...,...,...,...,...,...
60938,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60939,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.33,1.08
60940,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,4.00,3.00,1.00,1.00
60941,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.04,0.04
60942,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.01

In [14]:
df.describe()
#to find mean and standard deviation for year 2015

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943.000000,60943.000000,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
mean,134.265576,2687.176706,3814.856456,134.196282,135.235966,136.555222,140.917765,143.758381
std,72.605709,146.055739,2212.007033,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,4.000000,2501.000000,511.000000,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,2562.000000,684.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,2630.000000,5142.000000,0.090000,0.080000,0.080000,0.100000,0.070000
75%,195.000000,2775.000000,5511.000000,8.340000,8.460000,8.430000,9.000000,9.000000
max,276.000000,2961.000000,5911.000000,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

In [157]:
df['Area'].nunique()
#to find the number of unique countries in the dataset

49

In [42]:
Y2016 =[df['Y2016']]

In [48]:
print(df['Y2016'].isnull().sum())
#to find number of missing items in 2016

1535

In [133]:
print(df['Element Code'].corr(df['Y2014']))
print(df['Element Code'].corr(df['Y2015']))
print(df['Element Code'].corr(df['Y2016']))
print(df['Element Code'].corr(df['Y2017']))
print(df['Element Code'].corr(df['Y2018']))
#to compare correlation between element code and the different years.

0.024456819495221754
0.02388919930163996
0.023443997584961424
0.02425400776004575
0.024278571953519557

In [89]:
Y2017 =[df['Y2017']]

In [90]:
Y2015 =[df['Y2015']]

In [95]:
Y2014 =[df['Y2014']]

In [103]:
Y2018 =[df['Y2018']]

In [86]:
Years= df.groupby('Element')['Y2018', 'Y2017','Y2016', 'Y2015', 'Y2014'].sum()
#to find the year with the highest import quantity
#to find total sum of production in 2014

C:\Users\hp\AppData\Local\Temp\ipykernel_18816\630872012.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  Years= df.groupby('Element')['Y2018', 'Y2017','Y2016', 'Y2015', 'Y2014'].sum()

In [88]:
Years

,Y2018,Y2017,Y2016,Y2015,Y2014
Element,,,,,
Domestic supply quantity,2161192.10,2088198.10,2044842.70,2021493.55,1996716.35
Export Quantity,181594.80,182338.80,151920.46,157614.47,150020.64
Fat supply quantity (g/capita/day),10258.69,10253.84,10102.77,10235.74,10225.56
Feed,233489.68,223705.68,228958.65,225050.22,216927.89
Food,1303841.28,1258888.28,1247022.17,1232361.10,1212332.49
Food supply (kcal/capita/day),455261.00,454681.00,451810.00,453383.00,454257.00
Food supply quantity (kg/capita/yr),49056.85,48690.04,48985.28,49345.13,49650.63
Import Quantity,287997.09,294559.09,286582.78,267018.46,274144.48
Losses,163902.00,160614.00,157787.00,155439.00,153223.00
Other uses (non-food),91300.97,91645.97,69563.68,66254.41,78718.13
Processing,308429.00,292836.00,280631.00,287929.00,282923.00
Production,2075072.89,2030056.89,1943537.15,1947019.39,1931287.75
Protein supply quantity (g/capita/day),11833.56,11842.45,11779.69,11833.95,11836.46
Residuals,34864.00,35500.00,37224.00,30045.00,30149.00
Seed,25263.14,24870.14,23389.20,23976.82,21922.92
Stock Variation,20577.91,54316.91,33140.12,34910.99,58749.83
Total Population - Both sexes,1140605.00,1112641.00,1085107.00,1058081.00,1031585.00
Tourist consumption,90.00,91.00,89.00,349.00,416.00

In [155]:
Y2018_Element = df.groupby('Element')['Y2018'].sum()
#to find the elements with the highest sum in 2018

In [156]:
Y2018_Element.max()
#to find the the highest element in 2018

2161192.1

In [102]:
Y2018_Element.sort_values()
#to find the third lowest element in 2018

Element
Tourist consumption                            90.00
Fat supply quantity (g/capita/day)          10258.69
Protein supply quantity (g/capita/day)      11833.56
Stock Variation                             20577.91
Seed                                        25263.14
Residuals                                   34864.00
Food supply quantity (kg/capita/yr)         49056.85
Other uses (non-food)                       91300.97
Losses                                     163902.00
Export Quantity                            181594.80
Feed                                       233489.68
Import Quantity                            287997.09
Processing                                 308429.00
Food supply (kcal/capita/day)              455261.00
Total Population - Both sexes             1140605.00
Food                                      1303841.28
Production                                2075072.89
Domestic supply quantity                  2161192.10
Name: Y2018, dtype: float64

In [93]:
Y2014_Element = df.groupby('Element')['Y2014'].sum()
#to find total sum of production in 2014

In [94]:
Y2014_Element

Element
Domestic supply quantity                  1996716.35
Export Quantity                            150020.64
Fat supply quantity (g/capita/day)          10225.56
Feed                                       216927.89
Food                                      1212332.49
Food supply (kcal/capita/day)              454257.00
Food supply quantity (kg/capita/yr)         49650.63
Import Quantity                            274144.48
Losses                                     153223.00
Other uses (non-food)                       78718.13
Processing                                 282923.00
Production                                1931287.75
Protein supply quantity (g/capita/day)      11836.46
Residuals                                   30149.00
Seed                                        21922.92
Stock Variation                             58749.83
Total Population - Both sexes             1031585.00
Tourist consumption                           416.00
Name: Y2014, dtype: float64